import "./{{pascalCase name}}.scss";

interface I{{pascalCase name}}Props {}

const {{pascalCase name}} = ({}: I{{pascalCase name}}Props) => {
  return (
    <div className="{{dashCase name}}">
      <span>{{pascalCase name}}</span>
    </div>
  );
};

export { {{pascalCase name}} };
