import "./{{pascalCase name}}.scss";

const {{pascalCase name}} = () => {
  return (
    <div className="{{dashCase name}}">
      <span>{{pascalCase name}}</span>
    </div>
  );
};

export { {{pascalCase name}} };
