import * as S from "./{{pascalCase name}}.styles";

interface I{{pascalCase name}}Props {}

const {{pascalCase name}} = ({}: I{{pascalCase name}}Props) => {
  return (
    <S.Container>
      <span>{{pascalCase name}}</span>
    </S.Container>
  );
};

export { {{pascalCase name}} };
